@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=PT+Serif:ital@0;1&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
}

h1 {
    font-size: 150px;
    letter-spacing: -8px;
    line-height: 80%;
    padding-bottom:24px;
}

hr {
    border: 1px solid rgb(255, 255, 255);
    width: 100%
}
blockquote {
    font-size: 42px;
    letter-spacing: -2px;
    margin: 80px 48px;
 
}

p {
    margin: auto;
    margin-bottom:24px;
    line-height: 1.5;
    max-width: 800px;
    margin-top:48px;
}

.highlight {
    padding: 8px;
}

a {
    text-decoration: underline;
}

a:hover {
    background-color: plum;
}

.original {
    background-color: black;
    color: white;
    padding:30px;
}

.author {
    padding-bottom:24px;
    margin: 0px;
}

.response {
    background-color:#FDF8F8;
    font-family: 'PT Serif', serif;
    font-size: 21px;
    padding: 80px;
    margin: auto;
}

h2 {
    font-size:74px;
    line-height: 92%;
    margin-bottom: 24px;
    letter-spacing: -3px;
}

h3 {
    font-size: 42px;
    letter-spacing: -2px;
    padding: 12px 0;
}

mark:nth-child(1) {
    background-color: #f5f861;
    color:#2F4F4F;
    font-family:'Courier New', Courier, monospace;
}

mark:nth-child(2) {
    background-color: #DA70D6;
    color: whitesmoke;
    font-family: cursive;
}

mark:nth-child(3) {
    background-color: #98FB98;
    color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

mark:nth-child(4) {
    background-color: #6A5ACD;
    color: seashell;
    font-family:'Times New Roman', Times, serif
}

mark:nth-child(5) {
    background-color: #AFEEEE;
    color: #000080;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

mark:nth-child(6) {
    background-color: #EEE8AA;
    color:   rgb(158, 141, 129);
    font-family:'PT Serif', serif;
}

mark:nth-child(7) {
    background-color: #808000;
    color: #FDF5E6;
    font-family:'Inter', sans-serif;
}

.title:nth-child(1):hover {
    background-color: #FA8072;
    font-family:'Times New Roman', Times, serif;
}

.title:nth-child(2):hover {
    background-color: #98FB98;
    font-family: cursive;
}

.title:nth-child(3):hover {
    background-color: #6495ED;
    font-family: 'PT Serif', serif;
}
